@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: 'Josefin Sans', cursive;
  /* position: fixed; */
  background-color: rgba(240, 235, 216);
  display: flex;
  flex-direction: row;
  color: rgba(13, 19, 33);
}

#main-text {
  margin: 50px 30% 30px 4%;
  font-size: 40px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: 40px 0% 40px 0%;
}

.nav-link {
  cursor: pointer;
}

.link {
  width: 150px;
  padding: 0px 5%;
  font-weight: bold;
  font-size: larger;
}

body {
  background-color: rgba(116, 140, 171);
}

.about-body {
  padding: 30px 100px 5px 100px;
  color: rgba(240, 235, 216);
  /* font-size: large */
}

#photo {
  height: 300px;
}

.nav-active {
  color: rgba(116, 140, 171);
}

.bottom-link-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.bottom-link {
  margin: 0px 15px;
}

#portfolio-header {
  margin: 30px 0px 0px 20px;
}

#instructions {
  margin: 30px 0px 0px 20px;
}

.portfolio-container {
  display: flex;
  justify-content: center;

}

.inner-portfolio-container {
  margin: 0px 10% 0% 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gen-container {
  margin: 50px 5% 100px 5%;
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.projects {
  /* margin: 50px 5% 100px 5%; */
  height: 260px;
  width: 350px;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
}

#project-1 {
  background-image: url('./assets/img/baseball-grey.jpg');
}

#project-2 {
  background-image: url('./assets/img/outcast-gray.jpg');
}

#project-3 {
  background-image: url('./assets/img/tech-haven-gray.jpg');
}

#project-4 {
  background-image: url('./assets/img/weather-dash-gray.jpg');
}

#project-5 {
  background-image: url('./assets/img/workday-gray.jpg');
}

#project-6 {
  background-image: url('./assets/img/code-quiz-gray.jpg');
}

.link-div {
  width: 100%;
  padding-top: 110px;
  padding-left: 130px;
  display: flex;
  flex-direction: column;
}

.portfolio-link {
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  color: rgba(13, 19, 33);
}

.portfolio-link:hover {
  color: rgba(240, 235, 216);
}


.projects:hover {
  opacity: .50;
}

#contact-container {
  padding: 30px 100px;
}

#contact-header {
  font-size: 30px;
}

#contact-form {
  font-weight: bold;
  font-size: 18px;
}

.input {
  margin-top: 15px;
}

.input-div {
  display: flex;
  flex-direction: row;
  height: 25px;
}

.label-div {
  width: 80px;
  padding-top: 4px;
}

input {
  height: 23px;
  width: 360px;
  border-radius: 5px;
}

.message-div {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 440px;
  border-radius: 5px;
}

#submit-button {
  margin-top: 25px;
  height: 40px;
  width: 120px;
  font-weight: bold;
  border-radius: 5px;
  background-color:  rgba(29, 45, 68);
  color: rgba(240, 235, 216);
}